#content {
    text-align: center;
    color:rgb(255, 194, 255);
    background-color:blueviolet;
  }

main{
    color: rgb(46, 207, 207);
}
body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

}
#startText{
    text-align: center;
    text-decoration: underline overline dotted 5px rgb(162, 250, 243);
    
}